<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ site.data.global.siteTitle }}</title>
  
  <link rel="icon" type="image/png" href="{{ 'favicon-32x32.png' | relative_url }}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ 'favicon-16x16.png' | relative_url }}" sizes="16x16" />

  {% for s in site.data.headStyles %}
    {% if s.internal %}
      <link href="{{ s.url | relative_url }}" rel="stylesheet" type="text/css">
    {% else %}
      <link href="{{ s.url }}" rel="stylesheet" type="text/css">
    {% endif %}
  {% endfor %}

</head>
